hpsdf-ngp-module-core/src/test/resources/device_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="device" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="platform" type="xs:string"/>
	<xs:element name="model" type="xs:string"/>
	<xs:element name="manufacturer" type="xs:string"/>
	<xs:element name="last_updated" type="xs:string"/>
	<xs:element name="device_id" type="xs:short"/>
	
	<xs:element name="device">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="model"/>
				<xs:element ref="manufacturer"/>
				<xs:element ref="platform"/>
				<xs:element ref="device_id"/>
				<xs:element ref="last_updated"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
