hpsdf-ngp-module-core/src/test/resources/master_feed1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.handmark.com/DataTypes" xmlns="http://www.handmark.com/DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value" type="xs:string"/>
	<xs:element name="prod_price" type="xs:decimal"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="device" type="xs:short"/>
	<xs:element name="currency" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="category" type="xs:short"/>
</xs:schema>
