hpsdf-ngp-module-core/src/test/resources/master_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.handmark.com/master_browse_response" xmlns="http://www.handmark.com/master_browse_response" xmlns:dt="http://www.handmark.com/DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.handmark.com/DataTypes" schemaLocation="master_feed1.xsd"/>
	<xs:element name="version_last_updated" type="xs:dateTime"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="sub_categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requires_email" type="xs:boolean"/>
	<xs:element name="rating" type="xs:byte"/>
	<xs:element name="products">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product_id" type="xs:int"/>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product_id"/>
				<xs:element ref="image"/>
				<xs:element ref="primary_image"/>
				<xs:element ref="display_name" maxOccurs="unbounded"/>
				<xs:element ref="description" maxOccurs="unbounded"/>
				<xs:element ref="full_description" maxOccurs="unbounded"/>
				<xs:element ref="prices" maxOccurs="unbounded"/>
				<xs:element ref="developer"/>
				<xs:element ref="version"/>
				<xs:element ref="version_last_updated"/>
				<xs:element ref="rating"/>
				<xs:element ref="requires_email"/>
				<xs:element ref="devices"/>
				<xs:element ref="countries"/>
				<xs:element ref="categories"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary_image" type="xs:string"/>
	<xs:element name="prices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dt:currency"/>
				<xs:element ref="dt:prod_price"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="image" type="xs:anyURI"/>
	<xs:element name="full_description">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="dt:language"/>
				<xs:element ref="dt:value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="display_name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dt:language"/>
				<xs:element ref="dt:value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="devices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dt:device" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="developer" type="xs:string"/>
	<xs:element name="description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dt:language"/>
				<xs:element ref="dt:value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog"/>
				<xs:element ref="products"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="countries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dt:country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category_id" type="xs:short"/>
	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category_id"/>
				<xs:element ref="display_name"/>
				<xs:element ref="sub_categories" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="categories">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dt:category" maxOccurs="unbounded"/>
				<xs:element ref="category" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="catalog_name" type="xs:string"/>
	<xs:element name="catalog_id" type="xs:byte"/>
	<xs:element name="catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalog_id"/>
				<xs:element ref="catalog_name"/>
				<xs:element ref="categories"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
