hpsdf-ngp-module-core/src/main/wsdl/sdp/RateManagement_1_2_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="rate_management_service" targetNamespace="http://www.csapi.org/wsdl/parlayx/rate_management/v2_2/service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:interface="http://www.csapi.org/wsdl/parlayx/rate_management/v2_2/interface" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.csapi.org/wsdl/parlayx/rate_management/v2_2/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <import location="RateManagement_1.wsdl" namespace="http://www.csapi.org/wsdl/parlayx/rate_management/v2_2/interface"/>
  <binding name="RateManagementBinding" type="interface:RateManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createServiceOperationRate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteServiceOperationRate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="listServiceOperationRate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceOperationRate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PolicyException">
        <soap:fault name="PolicyException" use="literal"/>
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceOperationRateExpiryDate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PolicyException">
        <soap:fault name="PolicyException" use="literal"/>
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateServiceOperationRate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PolicyException">
        <soap:fault name="PolicyException" use="literal"/>
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getHistory">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PolicyException">
        <soap:fault name="PolicyException" use="literal"/>
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateExpiryDate">
      <soap:operation style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PolicyException">
        <soap:fault name="PolicyException" use="literal"/>
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RateManagementService">
    <port binding="tns:RateManagementBinding" name="RateManagement">
      <soap:address location="http://16.157.132.88:7001/ChargingEnabler/webservices/RateManagement"/>
    </port>
  </service>
</definitions>